<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-4" ></div>

    <div class="col-sm-4 col-md-4" id="signin">
        <div class="container" id="inner-signin">
          <h2>Login</h2>
          <br/>
          <form [formGroup] = "signinForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
              <label for="email">email:</label>
              <input type="email" class="form-control" id="email" formControlName = "email">
              <span *ngIf="!signinForm.get('email').valid && signinForm.get('email').touched" class="help-block">
                <span *ngIf="signinForm.get('email').errors['email']">
                  Enter proper email...
                </span>
                <span *ngIf="signinForm.get('email').errors['required']">
                  Enter email...
                </span>
              </span>
            </div>
            <div class="form-group">
              <label for="password">password:</label>
              <input type="password" class="form-control" id="password" formControlName = "password">
              <span *ngIf="!signinForm.get('password').valid && signinForm.get('password').touched" class="help-block">
                Please enter password...
              </span>
            </div>
            <div class="form-group">
              <input type="submit" value="Login" class="btn btn-dark">
              <button class="btn btn-dark" style="margin-left: 1em" (click) = "signUp()">Register</button>
            </div>
            <div class="form-group">

            </div>
          </form>
        </div>
    </div>

    <div class="col-sm-4" ></div>
  </div>
</div>
