
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Employee Manager</a>

  <!-- Links -->
  <ul class="nav navbar-nav justify-content-right">
    <li class="nav-item" style="margin-left: 1em">
      <button class="btn btn-dark" routerLink="login">Sign in</button>
    </li>
    <li class="nav-item" style="margin-left: 0.2em">
      <button class="btn btn-dark" routerLink="signup">Sign up</button>
    </li>
  </ul>
</nav>
<br/>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
