<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-4" ></div>

    <div class="col-sm-4 col-md-4" id='signup'>
        <div class="container" id='inner-signup'>
          <h2>Sign Up</h2>
          <br/>
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
              <label for="fname">First Name:</label>
              <input type="text" class="form-control" id="fname" formControlName="fname">
              <span *ngIf="!signupForm.get('fname').valid && signupForm.get('fname').touched" class="help-block">
                Please enter first name...
              </span>
            </div>
            <div class="form-group">
              <label for="username">Last Name:</label>
              <input type="text" class="form-control" id="lname" formControlName="lname">
              <span *ngIf="!signupForm.get('lname').valid && signupForm.get('lname').touched" class="help-block">
                Please enter last name...
              </span>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" formControlName="email">
              <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" class="help-block">
                <span *ngIf="signupForm.get('email').errors['email']">
                  Please Enter proper email...
                </span>
                <span *ngIf="signupForm.get('email').errors['required']">
                  Please Enter email...
                </span>
                <span *ngIf="signupForm.get('email').errors['emailAlreadyExists']">
                    Email Already exists..
                  </span>
              </span>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" formControlName="password" [(ngModel)]="password">
              <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched" class="help-block">
                  Please enter password...
              </span>
            </div>
            <div class="form-group">
              <label for="cpassword">Confirm Password:</label>
              <input type="password" class="form-control" id="cpassword" formControlName="cpassword">
              <span *ngIf="!signupForm.get('cpassword').valid && signupForm.get('cpassword').touched" class="help-block">
                  <span *ngIf="signupForm.get('cpassword').errors['passwordNotMatch']">
                    Confirm Password and password doesn't match...
                  </span>

                  <span *ngIf="signupForm.get('cpassword').errors['required']">
                    This field is required...
                  </span>
              </span>
            </div>
            <div class="form-group">
              <input type="submit" value="Sign up" class="btn btn-dark form-control">
            </div>
          </form>
        </div>
    </div>

    <div class="col-sm-4" ></div>
  </div>
</div>
